* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-attachment: fixed;
  color: #fff;
}

header {
  text-align: center;
  padding: 1.5rem 0;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 20px rgba(0, 255, 157, 0.3);
  border-bottom: 2px solid rgba(0, 255, 255, 0.3);
}

.titulo-neon {
  font-size: 2.3rem;
  color: #00ffe0;
  text-shadow:
    0 0 5px #00ffe0,
    0 0 10px #00ffe0,
    0 0 20px #00ffe0,
    0 0 40px #00b3ff;
  animation: parpadeo 2s infinite alternate;
}

@keyframes parpadeo {
  from { opacity: 1; }
  to {
    opacity: 0.8;
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00ffe0;
  }
}

.principal {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
  max-width: 950px;
}

.tarjeta {
  border-radius: 1rem;
  overflow: hidden;
  width: 280px;
  height: 120px;
  transition: all 0.8s ease;
  position: relative;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(0, 255, 157, 0.4);
  box-shadow: 0 0 15px rgba(0, 255, 157, 0.3);
  backdrop-filter: blur(6px);
}

.tarjeta::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(0, 255, 157, 0.4), transparent);
  transition: all 0.8s ease;
}

.tarjeta:hover::before {
  left: 100%;
}

.tarjeta:hover {
  width: 100%;
  height: 220px;
  background: rgba(0, 255, 157, 0.1);
  box-shadow:
    0 0 25px rgba(0, 255, 157, 0.7),
    0 0 50px rgba(0, 255, 255, 0.3);
}

.titulo_Tarjeta {
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  transition: opacity 0.4s ease;
}

.contenido {
  text-align: justify;
  font-size: 18px;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
  transition: opacity 0.6s ease;
}

.tarjeta:hover .titulo_Tarjeta {
  opacity: 0;
}

.tarjeta:hover .contenido {
  opacity: 1;
}

.imagen {
  width: 250px;
  border-radius: 0.8rem;
  box-shadow: 10px 10px 5px rgba(0, 255, 157, 0.3);
}

p {
  flex: 1;
  line-height: 1.5;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

.boton {
  background: linear-gradient(135deg, #00b3ff, #00ff99);
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.6em 1em;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 255, 157, 0.3);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.github{
  width: 20px;
  height: auto;
  text-align: right;
}
.boton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 255, 157, 0.7);
}

@media (max-width: 768px) {
  .contenido {
    flex-direction: column;
  }

  .imagen {
    width: 100%;
  }

  .tarjeta:hover {
    height: auto;
  }
}
