.regresar {
  position: fixed;         
  top: 1vh;            
  right: 1vh;             
  background: #241e20;
  width: 200px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  z-index: 100;            
}

.boton_regresar {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.regresar:hover {
  filter: brightness(1.8);
  cursor: pointer;  
}


body {
  background: #565353;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.calculadora {
  position: fixed;
  top: 15vh;
  background-color: #241e20  ;
  padding: 6px;
  border-radius: 8px;
  width: 380px;
  height: 480px;
  text-align: center;
}

#displayBox {
  width: 373px;
  height: 70px;
  background-color: transparent;
  color: white;
  font-size: 55px;
  text-align: right;
  margin-bottom: 5px;
  border: none;
  caret-color: white;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
}

.fila {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

button {
  height: 65px;
  border: none;
  border-radius: 3px;
  font-size: 25px;
  box-sizing: border-box;
  margin: 1px;
  margin-left: 0px;
  color: white;
}

.boton_Accion{
  background-color: #362e32;
}

.boton_Borrar{
  background-color: #362e32;
  font-size: 48px;
}

.boton_Numero{
  background-color: #625a5c;
}

.boton_Resultado{
  background-color: #dbb09c;
  color: black;
}

.fila:first-of-type button:nth-child(1) {
  grid-column: 1;
}
.fila:first-of-type button:nth-child(2) {
  grid-column: 2;
}
.fila:first-of-type button:nth-child(3) {
  grid-column: 3 / span 2;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton_Accion:hover,
.boton_Borrar:hover,
.boton_Numero:hover,
.boton_Resultado:hover {
  filter: brightness(1.2);
  cursor: pointer;
}


@media (min-width: 2559px){
  .calculadora{
      position: fixed;
      top: 20vh;
      width: 780px;
      height: 940px;
      border-radius: 15px;
    }
    #displayBox {
    width: 705px;
    height: 140px;
    background-color: transparent;
    color: white;
    font-size: 80px;
    text-align: right;
    margin-bottom: 5px;
    border: none;
    caret-color: black;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
  }

  button {
  height: 128px;
  border: none;
  margin: 2px;
  font-size: 45px;
  border-radius: 8px;
  }

  .regresar{
    width: 340px;
  }

  .fila:first-of-type button:nth-child(3) {
    font-size: 45px;
  }

  .boton_Accion:hover,
.boton_Borrar:hover,
.boton_Numero:hover,
.boton_Resultado:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
}

@media (max-width: 768px){
  .regresar{
    position: fixed;
    top: 1vh;
    right: 1vh;
  }
}

@media (max-width: 426px){
  .calculadora{
    width: 340px;
    height: 480px;
  }
  .regresar{
    width: 150px;
    height: 50px;
    font-size: 20px;
  }


  #displayBox{
    width: 320px;
  }
}

@media (max-width: 320px){

  .regresar{
    width: 120px;
    height: 40px;
    font-size: 15px;
  }

  .calculadora{
    width: 280px;
  }
}