.regresar{
    background: none;
    display: flex;
    position: fixed;
    top: 1vh;
    right: 16vh;
}

.boton_regresar:hover{
    cursor: pointer;
    filter: brightness(1.5);
}

.boton_regresar{
    width: 150px;
    height: 70px;
    background: linear-gradient(180deg, #222, #111);
    box-shadow: inset 0 0 20px #ffcc00;
    border-radius: 10px;
    border: none;
}

body {
    margin: 0;
    background: radial-gradient(circle at center, #0ea00e9e 10%, #002b00 90%);
    font-family: serif;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.barra {
    position: fixed;
    width:110px;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #222, #111);
    box-shadow: inset 0 0 10px #ffcc00;
    letter-spacing: 7px;
    font-size: 30px;
}

.barra_izquierda { left: 0; writing-mode: sideways-lr; }
.barra_derecha { right: 0; writing-mode: sideways-rl; }

.texto_neon {
    color: #ffcc00;
    text-shadow: 0 0 10px #ff0, 0 0 20px #ff9900;
    font-weight: bold;
    font-size: 1.2em;
    animation: flicker 2s infinite alternate;
}

@keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.6; }
}

header {
    position: absolute;
    top: 1px;
    text-align: center;
}

h1 {
    font-size: 3em;
    color: gold;
    text-shadow: 2px 2px 8px #000, 0 0 15px gold;
}

.mesa {
    margin-top: 100px;
    background-color: #064e3b;
    border-radius: 25px;
    background-image: url(./img/mesa.webp);
    background-repeat: no-repeat;
    background-size: 1100px;
    padding: 40px 50px;
    padding-bottom: 10px;
    box-shadow: 0 0 25px rgb(18, 202, 18);
    text-align: center;
    border: 4px solid green;
    height: 540px;
}

 .dado{
    perspective: 1100px;
    height: 200px;
}

.caras_dado {
    position: relative;
    width: 120px;
    height: 120px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s ease-in-out;
    margin: auto;
}

.cara {
    position: absolute;
    width: 120px;
    height: 120px;
    background: radial-gradient(circle at center, #fff 80%, #ddd);
    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #0005, 0 0 8px #000;
    margin-top: 25px;
}

.cara.uno   { transform: rotateY(0deg) translateZ(60px); }
.cara.dos   { transform: rotateY(90deg) translateZ(60px); }
.cara.tres  { transform: rotateY(180deg) translateZ(60px); }
.cara.cuatro{ transform: rotateY(-90deg) translateZ(60px); }
.cara.cinco { transform: rotateX(90deg) translateZ(60px); }
.cara.seis  { transform: rotateX(-90deg) translateZ(60px); }

.punto {
    position: absolute;
    width: 18px;
    height: 18px;
    background: radial-gradient(circle, #000 60%, #222);
    border-radius: 50%;
    box-shadow: 0 0 5px #000a;
}

.centro { top: 50%; left: 50%; transform: translate(-50%, -50%); }
.arriba_izq { top: 20%; left: 20%; }
.arriba_der { top: 20%; right: 20%; }
.medio_izq { top: 50%; left: 20%; transform: translateY(-50%); }
.medio_der { top: 50%; right: 20%; transform: translateY(-50%); }
.abajo_izq { bottom: 20%; left: 20%; }
.abajo_der { bottom: 20%; right: 20%; }

.controles {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.boton_Num {
    background: #000;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border-style: none;
    transition: 0.2s;
}

.boton_Num:hover {
    background-color: rgb(172, 32, 32);
    transform: scale(1.2);
}

.boton_Num.active {
    background-color: red;
    color: white;
    transform: scale(1.2);
    font-weight: bold;
    box-shadow: 0 0 10px gold;
}

input[type=number] {
    background-color: gold;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 25px;
    width: 60px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input:hover {
    box-shadow: 0 0 10px gold;
}

.tirar_Dado {
    margin-left: 100px;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background: rgb(194, 145, 21);
    cursor: pointer;
    transition: 0.5s;
}

.tirar_Dado:hover {
    background: gold;
    transform: scale(1.2);
}

.tirar_Dado:active {
    background: rgb(255, 183, 2);
}

.dinero_apuesta{
    font-size: 25px;
}

.dinero_restante{
    font-size: 35px;
}

.mensaje {
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
}

.mensaje.ganar {
    color: gold;
    animation: fireworks 2s ease-in-out infinite;
    position:fixed;
    top: 47vh;
    left: 40%;
    font-size: 40px;
}

.mensaje.perder {
    color: red;
    animation: flash 1s infinite;
    position: absolute;
    left: 34%;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

@keyframes fireworks {
    0% { text-shadow: 0 0 10px yellow; }
    50% { text-shadow: 0 0 25px red, 0 0 40px orange; }
    100% { text-shadow: 0 0 10px yellow; }
}

#alerta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.alerta_oculta {
    opacity: 0;
    visibility: hidden;
}

.alerta_visible {
    opacity: 1;
    visibility: visible;
}

.alerta_contenido {
    background: #222;
    border: 3px solid gold;
    border-radius: 20px;
    padding: 30px 50px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 0 25px gold;
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% { transform: scale(0.7); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

#alerta_btn {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: gold;
    color: #222;
    cursor: pointer;
    transition: 0.3s;
}

#alerta_btn:hover {
    background: #ffd633;
    transform: scale(1.05);
}

@media (min-width: 2559px){
    .mesa{
        margin-top: 200px;
        width: 1200px;
        height: 1200px;
        background-image: url(./img/mesa.webp);
        background-size: 2200px;
    }

    .barra{
        width: 230px;
        font-size: 70px;
        letter-spacing: 30px;
    }

    h1{
        position: fixed;
        top: 2vh;
        left: 33.6vh;
        font-size: 120px;
    }

    h2{
        font-size: 60px;
    }

    .boton_regresar{
        width: 300px;
        height: 100px;
        font-size: 35px;
    }

    .boton_Num{
        width: 100px;
        height: 100px;
        font-size: 55px;
    }
    
    .controles{
        position: fixed;
        top: 50vh;
        left: 50vh;
    }

    input{
        width: 100px;
        height: 100px;

    }

    #apuesta{
        width: 120px;
        font-size: 70px;
    }
    
    .tirar_Dado{
        width: 400px;
        height: 170px;
        font-size: 50px;
        margin-left: 200px;
        border-radius: 50px;
    }

    .dinero_restante{
        font-size: 60px;
    }
    .dinero_apuesta{
        font-size: 60px;
    }

    .seccion_apuesta{
        position: fixed;
        top: 71vh;
        left: 47vh;
    }

    .dinero_restante{
        position: fixed;
        top: 80vh;
        left: 59vh;
    }



     .dado {
        perspective: 2200px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .caras_dado {
        position: relative;
        width: 300px;
        height: 300px;
        transform-style: preserve-3d;
        transition: transform 1.2s ease-in-out;
        transform: rotateX(0deg) rotateY(0deg);
        margin: auto;
    }

    .cara {
        position: absolute;
        width: 300px;
        height: 300px;
        background: radial-gradient(circle at center, #fff 80%, #ddd);
        border: 5px solid #333;
        border-radius: 25px;
        box-shadow: inset 0 0 25px #0007, 0 0 15px #000;
    }

    .cara.uno   { transform: rotateY(0deg) translateZ(150px); }
    .cara.dos   { transform: rotateY(90deg) translateZ(150px); }
    .cara.tres  { transform: rotateY(180deg) translateZ(150px); }
    .cara.cuatro{ transform: rotateY(-90deg) translateZ(150px); }
    .cara.cinco { transform: rotateX(90deg) translateZ(150px); }
    .cara.seis  { transform: rotateX(-90deg) translateZ(150px); }

    .punto {
        width: 45px;
        height: 45px;
        background: radial-gradient(circle, #000 60%, #222);
        border-radius: 50%;
        box-shadow: 0 0 10px #000a;
    }

    .centro { top: 50%; left: 50%; transform: translate(-50%, -50%); }
    .arriba_izq { top: 20%; left: 20%; }
    .arriba_der { top: 20%; right: 20%; }
    .medio_izq { top: 50%; left: 20%; transform: translateY(-50%); }
    .medio_der { top: 50%; right: 20%; transform: translateY(-50%); }
    .abajo_izq { bottom: 20%; left: 20%; }
    .abajo_der { bottom: 20%; right: 20%; }

    @keyframes rotarDado {
        0%   { transform: rotateX(0deg) rotateY(0deg); }
        25%  { transform: rotateX(90deg) rotateY(0deg); }
        50%  { transform: rotateX(90deg) rotateY(90deg); }
        75%  { transform: rotateX(180deg) rotateY(90deg); }
        100% { transform: rotateX(360deg) rotateY(360deg); }
    }


    .mensaje.perder{
        position: fixed;
        top: 48vh;
        left: 41.5vh;
        font-size: 75px;
    }

    .mensaje.ganar{
        position: fixed;
        top: 48vh;
        left: 63vh;
        font-size: 75px;
    }

    .alerta_contenido{
        width: 900px;
        height: 400px;
        font-size: 70px;
    }
}

@media (max-width:1024px){
    .mesa{
        position: fixed;
        top: 2vh;
        left: 35vh;
        width: 470px;
        height: 470px;
    }

    .barra{
        width: 100px;
        font-size: 25px;
    }

    h1{
        position: fixed;
        top: 2.5vh;
        left: 34.5vh;
        font-size: 48px;
    }

    .regresar{
        position: fixed;
        top: 1vh;
    }

    .boton_regresar{
        width: 150px;
        height: 40px;
        font-size: 20px;
    }

    .boton_Num{
        width: 43px;
        height: 43px;
    }

    input{
        width: 20px;
        height: 15px;
        margin-top: 10px;
    }

    .mensaje.ganar{
        font-size: 40px;
        position: fixed;
        top: 52vh;
        left: 57vh;
    }

    .mensaje.perder{
        position: fixed;
        left: 42vh;
    }

    .tirar_Dado{
        margin-left: 10px;
    }

    .dinero_restante{
        font-size: 30px;
        position: fixed;
        top: 85vh;
        left: 54.5vh;
    }

 

}

@media (max-width:768px){
    .mesa{
        position: fixed;
        top: 2vh;
        left: 20vh;
        width: 400px;
        height: 450px;
    }

    .barra{
        width: 70px;
        font-size: 25px;
    }

    h1{
        position: fixed;
        top: 4vh;
        left: 21.5vh;
        font-size: 40px;
    }

    .regresar{
        position: fixed;
        top: 1vh;
        right: 12vh;
    }
    
    .boton_regresar{
        width: 130px;
        height: 40px;
        font-size: 15px;
    }

    .boton_Num{
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    input[type=number] {
        width: 20px;
        height: 10px;
        margin-top: 10px;
        font-size: 18px;
    }

    .tirar_Dado{
        margin-left: 20px;
        padding: 10px 15px;
        font-size: 15px;
        border-radius: 10px;
    }

    .mensaje{
        font-size: 27px;
    }

    .mensaje.perder{
        position: fixed;
        left: 25vh;
    }

    .mensaje.ganar{
        position: fixed;
        left: 40vh;
        top: 53vh;
        font-size: 35px
    }

    .dinero_restante{
        position: fixed;
        top: 81vh;
        left: 34vh;
    }
}

@media (max-width:426px){
    .barra_izquierda, .barra_derecha{
        display: none;
    }

    body{
        overflow: auto;
        padding: 10px;
    }
    
    .mesa{
        position: fixed;
        top: 4vh;
        left: 33vh;
        transform: translateX(-50%);
        width: 300px;
        height: auto;
        height: 440px;
    }

    h1{
        position: fixed;
        font-size: 1.8em;
        top: 5vh;
        left: 5vh;
    }

    .boton_regresar{
        width: 120px;
        height: 35px;
        font-size: 14px;
    }

    .regresar{
        position: fixed;
        top: 1vh;
        right: 1vh;
    }

    .dado{
        height: 180px;
    }

    h1{
        position: fixed;
        top: 7vh;
        font-size: 30px;
    }

    .boton_Num{
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

    .tirar_Dado{
        padding: 10px 15px;
        font-size: 15px;
        margin-left: 1px;
    }

    .mensaje{
        font-size: 22px;
    }

    .mensaje{
        font-size: 25px;
    }

    .mensaje.ganar{
        position: fixed;
        left: 15vh;
        top: 33vh;
        font-size: 30px;
    }

    .mensaje.perder{
        position: fixed;
        left: 1vh;
        top: 31vh;
        font-size: 24px;

    }.seccion_apuesta{
        width: 350px;
        position: fixed;
        left: 4vh;
    }

    .dinero_restante{
        position: fixed;
        top: 63vh;
        left: 5vh;
    }
}

@media (max-width:376px){
    
    .mesa{
        width: 265px;
        position: fixed;
        left: 29.2vh;
    }

    .boton_regresar{
        width: 110px;
        height: 30px;
    }

    h1{
        position: fixed;
        top: 2.5vh;
        left: 9vh;
        width: 250px;
        font-size: 34px;
    }


    .seccion_apuesta{
        position: fixed;
        top: 58vh;
        left: 5vh;
        width: 300px;
    }

    .dinero_restante{
        position: fixed;
        top: 65vh;
        left: 7.5vh;
    }

    .tirar_Dado{
        margin-left: 20px;
    }

    .mensaje.perder{
        font-size: 22px;
    }

    .mensaje.ganar{
        font-size: 30px;
        position: fixed;
        left: 12vh;
    }

    .seccion_apuesta{
        position: fixed;
        left: 1.8vh;
        width: 340px;
    }

    .dinero_restante{
        position: fixed;
        left: 7vh;
        font-size: 25px;
    }
}

@media (max-width:320px){
    .mesa{
        position: fixed;
        left: 25vh;
        width: 210px;
    }

    h1{
        position: fixed;
        left: 6vh;
           
    }

    h2{
        position: fixed;
        left: 5vh;
        top: 40vh;
        width: 250px;
    }

    .botones{
        position: fixed;
        top: 53vh;
        left:6.5vh;
    }

    .seccion_apuesta{
        position: fixed;
        left: 0.8vh;
        top: 59vh;
    }

    .dinero_apuesta{
        font-size: 18px;
    }

    .dinero_restante{
        position: fixed;
        left: 4.5vh;
        font-size: 22px;
    }

    .mensaje.ganar{
        position: fixed;
        left: 7vh;
        top: 36vh;
    }

    .mensaje.perder{
        position: fixed;
        left: -1vh;
    }

    .seccion_apuesta{
        position: fixed;
        left: -2.7vh;
    }


}